<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="../static/contact.css">
</head>
<body>
    <div class="main">
        <div class="page1">
            <div id="nav">
                <h3>Mindset</h3>
                <div id="nav-part2">
                    <h4><a href="/">Home</a></h4>
                    <h4><a href="/info">Info</a></h4>
                    <h4><a href="/session">Session</a></h4>
                    <h4><a href="/stroy"> Suggestions</a></h4>
                    <h4><a href="/contact">Contact Us</a></h4>
                </div>
                <div id="nav-part3">
                    <div id="circle"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="imgae">
                        <img src="../static/businessman-character-avatar-isolated_24877-60111.webp" alt="image">
                    </div>
                    <div class="icon">
                        <a href=""><img src="../static/1384031.png" alt=""></a>
                        <a href=""><img src="../static/2168281.png" alt=""></a>
                    </div>
                    <div class="info">
                        <span class="name">Sushant Patil</span>
                        <span class="prof">Web Developer</span>
                    </div>
                </div>
            </div>
            <div class="help">
                <h4>You can Search For Local Mental Health Support Groups on Internet and Below :</h4>
                <div class="links">
                    <ul>
                        <li><span>Rethink Mental IILness :</span> <a href="http://www.rethink.org/about-us/our-support-groups">www.rethink.org/about-us/our-support-groups</a></li>
                        <li><span>Local Minds :</span> <a href="http://www.mind.org.uk/about-us/local-minds">www.mind.org.uk/about-us/local-minds</a></li>
                        <li><span>Andy's Man Club (For Men) :</span> <a href="http://www.andysmanclub.co.uk">www.andysmanclub.co.uk</a></li>
                        <li><span>Men's Sheds Association (For Men): </span><a href="http://www.menssheds.org.uk">www.menssheds.org.uk</a></li>
                    </ul>
                    <h4>Online Support Services</h4>
                    <ul>
                        <li><span>Clic :</span><a href="http://www.clic-uk.org/">www.clic-uk.org/</a></li>
                        <li><span>Side by Side :</span><a href="http://www.sidebyside.mind.org.uk/">www.sidebyside.mind.org.uk/</a></li>
                        <li><span>Togetherall :</span><a href="http://www.togetherall.com/">www.togetherall.com/</a></li>
                        <li><span>My Black Dog :</span><a href="http://www.myblackdog.co">www.myblackdog.co</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">
            <h3>Copyright &copy 2023 vedMindset.com | All rights reserved</h3>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/index2.js"></script>

</body>
</html>