<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="../static/session.css">
</head>
<body>
    <div class="main">
        <div class="page1">
            <div id="nav">
                <h3>Mindset</h3>
                <div id="nav-part2">
                    <h4><a href="/">Home</a></h4>
                    <h4><a href="/info">Info</a></h4>
                    <h4><a href="/session">Session</a></h4>
                    <h4><a href="/stroy"> Suggestions</a></h4>
                    <h4><a href="/contact">Contact Us</a></h4>
                </div>
                <div id="nav-part3">
                    <div id="circle"></div>
                </div>
            </div>
            <div class="question">
                <div class="sushant">
                <p>Please remember that you’re capable, brave and loved – even when it feels like you’re not.
                    Do not give the past the power to define your future.
                    Perhaps you’ve been assigned this mountain to show others that it can be moved.
                    Just a reminder: it is NOT selfish to put your recovery first. Rather, it’s necessary in order to make sure that everything else doesn’t come last.</p>
                    <span>
                        <img src="../static/8505f3b6fc0e756b0ee601705442e0f3.png" alt="">
                        <img src="../static/Depression_does_not_make_you_a_burden-73 (1).webp" alt="">
                    </span>
                <p>
                    If you need a confidence booster, then remind yourself of all the difficult things you’ve endured and overcome.
                    Dont ruin a good day by thinking about the possibility of a bad day in the future. Just enjoy the present moment :)
                    As Confucius said, our greatest glory is not in never falling, but in rising every time we do.
                    When your depression says, “Give up”, hope whispers, “Try one more time”.
                    If you’re worried about telling a friend that you struggle with depression, then remind yourself that you are one of 350 million people battling this illness. So, odds are that even if you don’t know it, one or more of your friends are fighting depression too but are similarly scared to reach out to you.
                </p>
                <span>
                    <img src="../static/On_your_good_days_write_down_your_reasons_to_keep_on_fighting-69.webp" alt="">
                    <img src="../static/Never_forget_that_HOPE_stands_for_Hold_On_Pain_Ends-77.webp" alt="">
                </span>
            </div>
                <h2>Session</h2>
                <div class="q1">
                    <h3 style="padding-top: 40px;">1.Have You Feeling Unusally Tired EveryDay</h3><br>
                    <span>Yes</span><input type="checkbox" value="Yes" name="1" id="p0">
                    <span>No</span><input type="checkbox" value="No" name="1" id="p1"><br>
                </div>
                <div class="q2">
                    <h3>2.Have You Found It Hard To Enjoy Life</h3><br>
                    <span>Yes</span><input type="checkbox" value="Yes" name="2" id="p2">
                    <span>No</span><input type="checkbox" value="No" name="2" id="p3"><br>
                </div>
                <div class="q3">
                    <h3>3.Do You Think About Your Own Death or About Dying</h3><br>
                    <span>Yes</span><input type="checkbox" value="Yes" name="3" id="p4">
                    <span>No</span><input type="checkbox" value="No" name="3" id="p5"><br>
                </div>
                <div class="q4">
                    <h3>4.Are You Feeling Hopless</h3><br>
                    <span>Yes</span><input type="checkbox" value="Yes" name="4" id="p6">
                    <span>No</span><input type="checkbox" value="No" name="4" id="p7"><br>
                </div>
                <div class="q5">
                    <h3>5.Is There Some Aspects Of Your Life That Make You Feel That Your Life is Not Woth Living</h3><br>
                    <span>Yes</span><input type="checkbox" value="Yes" name="5" id="p8">
                    <span>No</span><input type="checkbox" value="No" name="5" id="p9"><br>
                </div>
                <button id="btn">submit</button>
                <div class="ans">
                    <p id="p">Result :</p>
                </div>
            </div>
        </div>
        <div id="ans">
            <h2>Ask  AnyThing  Here </h2>
            <input type="text" id="value"><br>
            <button id="btn1">Solve</button>
            <div class="ved"></div>
        </div>
        <div class="footer">
            <h3>Copyright &copy 2023 vedMindset.com | All rights reserved</h3>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="../static/index4.js"></script>
    

</body>
</html>